
.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; 
}

.navbar a:hover {
    color: #ff4081; 
}

.navbar-right {
    float: right;
}

.product {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 200px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

.product img {
    max-width: 100%;
    height: 120px;
    transition: opacity 0.3s;
}

h1 {
    text-align: center;
    margin: 10px 0;
    color: #ffffff;
}

h3 {
    font-size: 20px;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    color: #555;
}

.product:hover {
    background-color: #e0e0e0;
}

label {
    display: block;
    font-weight: bold;
    margin-top: 10px;
    color: #333; 
}

input[type="text"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px; 
}

input[type="radio"] {
    margin-right: 10px;
}

input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 12px 20px; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px; 
}

input[type="submit"]:hover {
    background-color: #555;
}

.form-inline {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.form-inline input {
    margin: 0 10px; 
}

.search-form,
.filter-section form{
    display: flex;
    margin: 10px 0;
    align-items: center;
    justify-content: center; 
    gap: 5px;
}

.search-input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 810px;
    margin-right: 10px;
    height: 30px;
}

#categoryFilter{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 130px;
    margin-right: 10px;
    height: 30px;
}

#lang {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 170px;
    margin-right: 10px;
    height: 30px;
}

#brandFilter,
#priceFilter{
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 130px;
    margin-right: 10px;
    height: 20px;
}

.search-button,
.filter-button {
    padding: 10px 20px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.search-button:hover,
.filter-button:hover {
    background-color: #000000;
}

.filter-container {
    text-align: center;
}

.filter-container label,
.filter-container input,
.filter-container .filter-button {
    display: inline-block;
    margin: 0 10px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 1px 0;
}

.footer {
    max-width: 2000px;
    margin: 0 auto;
}

.notiziak {
    background-color: #f9f9f9;
    border: 2px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    display: inline-block;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.notiziak h3 {
    font-size: 18px;
    margin: 10px 0;
}

.notiziak p {
    margin: 14px 0;
    font-size: 15px;
}

.notiziak img {
    max-width: 100%;
    height: 120px;
    transition: opacity 0.3s;
}

.notiziak:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}

main {
    padding: 10px;
}

/* Estilos del héroe */
.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 5px 0;
    color: #000000;
}

.btn {
    display: inline-block;
    padding: 15px 20px;
    background-color: #ff4081;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #ff4081;
}

/* Estilos de las ofertas destacadas */
.featured-offers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10px;
}

.offer {
    flex: 0 1 calc(50% - 20px);
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    margin: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.offer img {
    max-width: 100%;
    height: auto;
}

.offer h3 {
    font-size: 20px;
    margin-top: 10px;
}

.offer p {
    font-size: 16px;
    margin-top: 10px;
}

.price {
    font-size: 18px;
    color: #ff0000;
    font-weight: bold;
}

.discount {
    color: #ff0000;
    font-weight: bold;
}

@media (max-width: 768px) {
    .btn {
        font-size: 16px;
        padding: 10px 20px;
    }

    .offer {
        flex: 0 1 calc(100% - 20px);
    }
}

/* Estilos para el encabezado */
.header {
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
}

.container .btn-menu {
    float: left;
    line-height: 60px;
}

.container .btn-menu label {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
}

.logo h1 {
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    margin-left: 10px;
}

.container .menu {
    float: right;
    line-height: 100px;
}

.container .menu a {
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}

.container .menu a:hover {
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

/* Fin de Estilos para el encabezado */

/* Menú lateral */
#btn-menu {
    display: none;
}

.container-menu {
    position: fixed;
    background: rgba(255, 255, 255, 0.516);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto; /* Añadido para permitir desplazamiento vertical si el contenido es demasiado largo */
}

#btn-menu:checked ~ .container-menu {
    opacity: 1;
    visibility: visible;
}

.cont-menu {
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100%;
    position: fixed;
    transition: all 500ms ease;
    transform: translateX(-100%);
}

#btn-menu:checked ~ .container-menu .cont-menu {
    transform: translateX(0%);
}

.cont-menu nav {
    transform: translateY(15%);
}

.cont-menu nav a {
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 400ms ease;
}

.cont-menu nav a:hover {
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}

.cont-menu label {
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}

/* Estilos del logo */
.logo {
    border-radius: 20%;
    margin: 0px auto 0;
    height: 80px;
    width: 150px;
}


#checkout-btn {
    display: block;
    margin: 20px auto; /* Centra el botón horizontalmente y agrega margen en la parte superior e inferior */
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

#checkout-btn:hover {
    background-color: #555;
}


#cart-container {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

#toggle-cart {  
    position: absolute;
    right: 40px;
    top: 80px;
}

#cart {
    width: 20%;
    border: 1px solid #ccc;
    padding: 10px;
    display: none; /* Inicialmente oculto */
    position: absolute;
    top: 60px; /* Ajusta según tu diseño */
    right: 20px; /* Ajusta según tu diseño */
    background-color: #fff;
    z-index: 1;
    text-align: center;
    border-radius: 8px;
    color: #000000;
}

#cart h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #ffffff;
    color: #fff;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background-color: #ff4081;
}

/* FAVORITOS*/


    header {
      background-color: #333;
      color: #fff;
      padding: 10px;
      text-align: center;
    }

    main {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      max-width: 1200px;
      margin: 20px auto;
    }

    .product {
      border: 1px solid #ddd;
      margin: 10px;
      padding: 10px;
      background-color: #fff;
      text-align: center;
    }

    .product img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .add-to-favorites {
      background-color: #e44d26;
      color: #fff;
      border: none;
      padding: 8px 12px;
      cursor: pointer;
      font-size: 14px; 
    }

    #favorites-list {
      max-width: 600px;
      margin: 20px auto;
      padding: 10px;
      background-color: #fff;
      border: 1px solid #ddd;
      display: none;
    }

    #favorites-list h2 {
      color: #333;
    }

    .favorite-item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 10px;
    }

    .favorite-item img {
      max-width: 50px;
      max-height: 50px;
      margin-right: 10px;
    }

    .remove-from-favorites {
      color: #e44d26;
      cursor: pointer;
      border: none;
      background: none;
    }
    
    .add-to-car {
        background-color: #e44d26;
        color: #fff;
        border: none;
        padding: 8px 12px;
        cursor: pointer;
        font-size: 14px;
      }

      /* Estilos generales para mejorar la apariencia */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* Estilos para el encabezado */
.navbar {
    background-color: #333;
    color: white;
    padding: 15px 0;
}

.logo img {
    height: 50px;
    width: auto;
}

/* Estilos para la sección de búsqueda */
.search-form {
    text-align: center;
    margin: 20px 0;
}

.search-input {
    padding: 8px;
    width: 200px;
}

.search-button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
}

/* Estilos para la sección de filtros */
.filter-section {
    text-align: center;
    margin-bottom: 20px;
}

#categoryFilter,
#balorazioFilter {
    margin-right: 10px;
}

#brandFilter,
#priceFilter {
    margin-bottom: 10px;
}

.filter-button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
}

/* Estilos para la sección de productos */
.product {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3,
.product p {
    margin: 0;
}

.product button {
    padding: 8px 16px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    margin-top: 10px;
}

.product button.add-to-favorites {
    background-color: #ff4081;
}

/* Estilos para el carrito de compras y lista de favoritos */
.cart-container,
#favorites-list {
    display: none;
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cart-container h2,
#favorites-list h2 {
    margin-top: 0;
}

.cart-items,
#favorites {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.cart-items li,
#favorites li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.remove-from-cart,
.remove-from-favorites {
    background-color: #ff4081;
    color: white;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
}

.checkout-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}



#cart-sidebar-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out; /* Agregamos una transición de opacidad */
    background-color: rgba(0, 0, 0, 0.1);
}

#cart-sidebar-btn.hidden {
    opacity: 0;
    pointer-events: none; /* Desactivamos los eventos para el botón oculto */
}

#cart-sidebar {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente oculto fuera del borde derecho */
    width: 300px;
    height: 100%;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease-in-out;
    z-index: 2; /* Asegurar que esté detrás del botón */
}

#cart-sidebar h2 {
    text-align: center;
}

#cart-items-sidebar {
    list-style: none;
    padding: 0;
}

#cart-items-sidebar li {
    margin-bottom: 10px;
}

#cart-total-sidebar {
    font-weight: bold;
    margin-top: 20px;
}

#cart-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px;
}

#clear-cart-btn-sidebar {
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
    width: 100%;
}

.cart-btn {
    display: block;
}

#cart-sidebar-btn.active {
    display: none;
}

#cart-sidebar-btn.hidden {
    opacity: 0;
    pointer-events: none; /* Desactivamos los eventos para el botón oculto */
}